[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
lightfm = "*"

[dev-packages]
pandas = "*"
numpy = "*"
ipython = "*"
jupyter = "*"
matplotlib = "*"
ipykernel = "*"
seaborn = "*"
pyarrow = "*"

[requires]
python_version = "3.9"
